alembic==1.16.2
asyncpg==0.30.0
bcrypt==4.3.0
cryptography==45.0.4
email-validator==2.2.0
fastapi==0.115.12
Jinja2==3.1.6
PyJWT==2.10.1
pydantic-settings==2.9.1
python-multipart==0.0.20
SQLAlchemy==2.0.41
uvicorn[standard]==0.34.3

# Tests
aiosqlite==0.21.0
httpx==0.28.1
pytest==8.4.0
pytest-asyncio==1.0.0
